//form page
.preview {
  // .previev__container
  &__container {
  }
}
.header{

}
.menu{
  &__list{

  }
  &__item{

  }
  &__link{
    text-decoration: none;
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  //form__upload
  &__upload{
    &::file-selector-button{
      background-color: wheat;
      color: #333333;
      cursor: pointer;
      border-radius: 5px;
      &:hover{
        background-color: darkkhaki;
        color: black;
        transition: .3s;
      }
    }
  }
  // .form__btn
  &__btn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: wheat;
    color: #333333;
    cursor: pointer;
    &:hover{
      background-color: darkkhaki;
      color: black;
      transition: .3s;
    }
  }
}

//uploaded page
img{
  min-width: 0;
  max-width: 100%;
}
.container {
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.gallery {
  // .gallery__item
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
  }

  // .gallery__img
  &__img {
    // .gallery__img--title
    &--title {
      font-size: 20px;
    }
  }

  // .gallery__checkbox
  &__checkbox {
    margin-right: 10px;
  }
}